*
{
     padding:0;
     margin: 0%;
     box-sizing: border-box;
}
body
{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: serif;
}
.menubar
{
    background:rgb(0, 0, 0);
    text-align: center;
    padding: 1%;
}
.menubar ul
{
    display: inline-flex;
    list-style: none;
    color: aliceblue;
}
.menubar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menubar ul li a
{
    text-decoration: none;
    color: white;
}
.menubar ul li:hover
{
    background: #700000;
    border-radius: 3px;
    border-width: 3%;

}
.menubar .fa
{
    margin-right: 8px;
}
p
{
   border: 2px solid #070000;
   color:#8d0000;
   background-color: rgb(255, 255, 255);
   font-family: myfontt;
   font-size: 130%;
   position: absolute;
   width: 40%;
   text-align: center;
   margin: 0 auto;
   top:16%;
   left: 29%;
   padding: 10px;
}

div img
   {
       width: 700px;
       height: 500px;
       border: 3px solid rgb(0, 0, 0);
       border-radius: 13px;
       box-shadow: 4px 7px 7px 0px #42001c;
       cursor: pointer;
       margin: 8rem auto 0 26%;
       transition: 400ms;
   }
   div img:hover
   {
       filter: grayscale(1);
       transform: scale(1.03);
   }

.cert a
   {
    position: absolute;
    left: 5%;
    margin: 13rem auto 0 auto;
}
.cert1 a
   {

    position: absolute;
    margin: 13rem auto 0 auto;
   }
.cert2 a
   {
   
    position: absolute;
    margin: 13rem auto 0 auto;
   }